.dirstamp
bitcache/
bitcache.aux
bitcache.cp
bitcache.cps
bitcache.dvi
bitcache.fn
bitcache.fns
bitcache.html
bitcache.info
bitcache.ky
bitcache.kys
bitcache.log
bitcache.pdf
bitcache.pg
bitcache.pgs
bitcache.ps
bitcache.tmp
bitcache.toc
bitcache.tp
bitcache.tps
bitcache.vr
bitcache.vrs
rdoc
stamp-vti
texinfo.tex
version.texi
yard
